@font-face {
    font-family: Pacifico-Regular;
    src: url(font/Pacifico-Regular.ttf);
  }
body
{
    background: linear-gradient(to bottom, #ccecff 0%, #ffffff 100%);
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: 100%;

}
#main_body 
{
width: 310px;
height: auto;
min-height: 500px;
border-radius: 8px;
background-color: rgba(140, 168, 245, 0.178);
box-shadow:1px 2px 5px rgba(13, 89, 119, 0.192);
}
#main{
    display: flex;
    flex-direction: column-reverse;
}
h2{
    font-family:Pacifico-Regular;
    color: rgb(189, 15, 15);
    margin: 0px;
    margin-left: 10px;

}
#main_body .addlist{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;   

}


#add_todo{
    margin-top:auto;
    font-size: 18pt;
    color: white;
    border-radius: 100px;
    background-color: rgb(107, 243, 29);
    outline: none;
    border: none;
    margin-bottom: 5px;
    margin-right: 5px;
    margin-left: 5px;
}
#delete_all{
    outline: none;
    border: none;
    font-size: 10pt;
    color: white;
    border-radius: 5px;
    background-color: rgb(226, 21, 21);
    padding-top: 8px;
    padding-bottom: 8px;
}
#delete_all:active{
    background-color: rgb(189, 15, 15);

}
#add_todo:active
{
    background-color: rgb(96, 206, 32);
}
#post{
    outline: none;
    border: none;
    padding: 12px;
    background-color: rgba(253, 253, 253, 0.568);
    border-radius:0px 10px 10px 20px ;
    border-left:5px solid rgba(5, 93, 255, 0.137);
}
#post:focus{
    border-bottom:1px solid rgb(255, 102, 0);
    
    
}
#post::placeholder
{
    color: rgb(202, 199, 199);
}
.card{
    box-shadow: 1px 1px 2px grey;
    padding: 12px;
    background-color: rgba(252, 231, 191, 0.876);
    border-radius:0px 10px 10px 20px ;
    width: 240px;
    margin-left: 8%;
    margin-top: 8px;
    margin-bottom: 5px;
}
.edit{
    border:none;
    outline: none;
    background-color: rgba(16, 98, 250, 0.664);
    color: white;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
}
.edit:active{
    background-color: rgba(15, 77, 192, 0.664);
}
.delete{
    border:none;
    outline: none;
    background-color: rgba(226, 21, 21, 0.938);
    color: white;
    text-align: center;
    padding: 5px;
    margin-left: 5px;
    border-radius: 5px;
}
.delete:active{
    background-color: rgba(180, 16, 16, 0.938);

}